#container{
    height: 470px;
    margin: 0 auto;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

#container img{

    position: absolute;
    border-left: 1px solid #ccc;
    left: 0;
    display: block;
}